APP_NAME="Ace Online"
APP_ENV=local
APP_KEY=base64:/zeRVJ+t5DzHaRfm7g29hDfJsVvbnltcPFQTZqIScKw=
APP_DEBUG=true
APP_URL=https://webcluesstaging.com/ashaceonline

ASSET_URL = "${APP_URL}/public"

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=192.168.1.81
DB_PORT=5432
DB_DATABASE=ashaceonline
DB_USERNAME=postgres
DB_PASSWORD="xbnuDu2tHz"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=wc.ashaceonlinemock@gmail.com
MAIL_PASSWORD=ashaceonline@1234
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=wc.ashaceonlinemock@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

STRIPE_KEY=pk_test_9Myl0q0MmGmxTDHcw06DOmOM00khYGkRG5
STRIPE_SECRET=sk_test_LphAaNDMxBzLIY0wKpdo14CS00pXykb4v4
STRIPR_MODE=Sandbox

PAYPAL_CLIENT_ID=AUsZFo06HUmmwfZHxvBcN_67slpBJ53M7MOJUOpmlZrRx9aP5gb5RpX1a2D386zIpPGFkFYAPSyRkhCa
PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_API_USERNAME=webclues.admn@gmail.com
PAYPAL_SANDBOX_API_PASSWORD=4FC2V8ZMUFPAHB42
PAYPAL_SANDBOX_API_SECRET=EJvUKuYSl8lbrZBO-n4TwvP5ZHoVpo65FfrIqeLGyAo-CAGeOouR-wws1KhA3rg2CHIlH7dyNdPR5RFi
PAYPAL_CURRENCY=GBP
PAYPAL_SANDBOX_API_CERTIFICATE=4FC2V8ZMUFPAHB42
ADDRESS_API_KEY='71NgaVuFF0iVDKCgAXrHwA29615'

MAILCHIMP_APIKEY=d42127d69eaf4c44fbf5f326d602be80-us4
MAILCHIMP_LIST_ID=1bf9236d14